[submodule "mfe-host-starter"]
	path = mfe-host-starter
	url = git@github.com:mohantalachutla/mfe-host-starter.git
[submodule "mongoapi"]
	path = mongoapi
	url = git@github.com:mohantalachutla/mongoapi.git
[submodule "mfe-dashboard"]
	path = mfe-dashboard
	url = git@github.com:mohantalachutla/mfe-dashboard.git
[submodule "mfe-product"]
	path = mfe-product
	url = git@github.com:mohantalachutla/mfe-product.git
[submodule "mfe-order"]
	path = mfe-order
	url = git@github.com:mohantalachutla/mfe-order.git
[submodule "mfe-wishlist"]
	path = mfe-wishlist
	url = git@github.com:mohantalachutla/mfe-wishlist.git
[submodule "mfe-cart"]
	path = mfe-cart
	url = git@github.com:mohantalachutla/mfe-cart.git
