[submodule "mfe-starter-react"]
	path = mfe-starter-react
	url = git@github.com:mohantalachutla/mfe-starter-react.git
[submodule "mfe-host-starter"]
	path = mfe-host-starter
	url = git@github.com:mohantalachutla/mfe-host-starter.git
[submodule "mongoapi"]
	path = mongoapi
	url = git@github.com:mohantalachutla/mongoapi.git
[submodule "mfe-dashboard"]
	path = mfe-dashboard
	url = git@github.com:mohantalachutla/mfe-dashboard.git
