[submodule "mfe-utils"]
	path = mfe-utils
	url = git@github.com:mohantalachutla/mfe-utils.git
[submodule "mfe-starter-react"]
	path = mfe-starter-react
	url = git@github.com:mohantalachutla/mfe-starter-react.git
